@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

body {
	@apply bg-white-200;
}

@theme {
	--color-primary-50: #f9f0c2;
	--color-primary-100: #f5e593;
	--color-primary-200: #f1d964;
	--color-primary-300: #edcd34;
	--color-primary-400: #dcb914;
	--color-primary-500: #ad9110;
	--color-primary-600: #7e6a0c;

	--color-secondary-50: #fcf3d0;
	--color-secondary-100: #f8e8a0;
	--color-secondary-200: #f5dd6f;
	--color-secondary-300: #f2d240;
	--color-secondary-400: #efc710;
	--color-secondary-500: #bf9f0d;
	--color-secondary-600: #8f770a;

	--color-black-50: #4e4d66;
	--color-black-100: #414059;
	--color-black-200: #34334d;
	--color-black-300: #262541;
	--color-black-400: #1c1b32;
	--color-black-500: #131221;
	--color-black-600: #070614;

	--color-white-50: #fbfbfd;
	--color-white-100: #eeeff7;
	--color-white-200: #dcdcef;
	--color-white-300: #cbcbe7;
	--color-white-400: #bcbcdc;
	--color-white-500: #afafcf;
	--color-white-600: #9f9fc6;

	--color-accent-50: #ffded6;
	--color-accent-100: #ffb9a8;
	--color-accent-200: #ff8c70;
	--color-accent-300: #ff633d;
	--color-accent-400: #ff3a0a;
	--color-accent-500: #d62a00;
	--color-accent-600: #a32000;

	--color-success-50: #e6f9e6;
	--color-success-100: #bff0bf;
	--color-success-200: #99e699;
	--color-success-300: #73db73;
	--color-success-400: #4dc14d;
	--color-success-500: #32a632;
	--color-success-600: #1f7d1f;

	--color-warning-50: #fff7e6;
	--color-warning-100: #ffe6b3;
	--color-warning-200: #ffd480;
	--color-warning-300: #ffc24d;
	--color-warning-400: #ffab1a;
	--color-warning-500: #e69500;
	--color-warning-600: #b37400;

	--color-danger-50: #ffe6e6;
	--color-danger-100: #ffbfbf;
	--color-danger-200: #ff9999;
	--color-danger-300: #ff7373;
	--color-danger-400: #ff4d4d;
	--color-danger-500: #e60000;
	--color-danger-600: #b30000;

	/* temp file */
	--color-primary: #f2d240;
	--color-primary-dark: #f2d240;
	--color-background: #fbfbfd;
	--color-text: #131221;
}

@layer base {
	@variant dark {
		
	}
}

::-webkit-scrollbar {
	@apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
	@apply rounded-2xl bg-gray-400;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-primary rounded-2xl;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-primary-dark;
}
